/* 간단한 스타일링을 위한 CSS 예제 */
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    font-weight: bold;
}

.todocontainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

.todo-item {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.todo-item p {
    margin: 5px 0;
}

.todoDetail {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.btnList {
    text-align: center;
}

.todoCreate,
.todoUpdate,
.todoDelete {
    background-color: #007bff;
    /* 버튼 배경색 */
    color: #fff;
    /* 버튼 텍스트 색상 */
    padding: 10px 20px;
    /* 버튼 안의 여백 */
    border: none;
    /* 테두리 없음 */
    border-radius: 5px;
    cursor: pointer;
    /* 커서 모양 변경 */
    margin: 5px;
    /* 버튼 간격 */
    transition: background-color 0.3s;
    /* 배경색 변경 시 부드러운 애니메이션 */
}

.todoUpdate:hover,
.todoDelete:hover {
    background-color: #0056b3;
    /* 버튼 호버 시 배경색 변경 */
}

.todoDelete {
    background-color: #ff5e5e;
}

.todoDelete:hover {
    background-color: coral;
}