{% extends "base.html" %}
{% block content %}

    <div class="todoDetail">
        <button class="toList" onclick="window.location.href='/todo/list'">뒤로가기</button>
    </div>

    <div class="btnList">
        <button class="todoUpdate" onclick="toUpdate()">수정</button>
        <button class="todoDelete" onclick="toDelete()">삭제</button>
    </div>

<script>
    // 127.0.0.1:8000/todo/130/
    $(document).ready(function(){
        pk = window.location.href.split('/').filter(Boolean).pop()
        axiosInstance.get(`/api/todo/viewsets/${pk}/`)
        .then(
            function(response){
                todo = response.data
                $(".todoDetail").append(`
                    <div class="todo-item">
                        <p><strong>Name:</strong>${todo.name}</p>
                        <p><strong>Description:</strong> ${ todo.description }</p>
                        <p><strong>Complete:</strong> ${ todo.complete ? "완료" : "진행중" }</p>
                        <p><strong>Completed At:</strong> ${ datetimeToString(todo.completed_at) }</p>
                        <p><strong>Experience Points:</strong> ${ todo.exp }</p>
                    </div>
                `)
            }
        )
        .catch(
            function(error){
                console.log(error);
                //alert("삭제된 todo입니다.");
                //window.location.href = "/todo/list/";
            }
        )
    })
    
    function toUpdate(){
        pk = window.location.href.split('/').filter(Boolean).pop();
        window.location.href = `/todo/update/${pk}/`;
    }

    function toDelete(){
        pk = window.location.href.split('/').filter(Boolean).pop();
        if (confirm("정말 해당 Todo를 삭제하시겠습니까?")){
            axiosInstance.delete(`/api/todo/viewsets/${pk}/`)
            .then(function(response){
                window.location.href = "/todo/list/";
            })
            .catch(function(error){
                alert("Todo 삭제에 실패했습니다.");
            })
        }
    }

</script>


{% endblock %}