{% load static %}
<head>

    <title>DjangoCourse</title>
    
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Javascrips -->
    <script src="{% static 'js/getCookie.js' %}"></script>
    <script src="{% static 'js/axiosInstance.js' %}"></script>

</head>
